/* @tailwind base;
@tailwind components;
@tailwind utilities; */

input {
  outline: none;
  border: none;
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  width: 100%;
}

.container {
  margin: auto;
  max-width: 90%;
}

.calcBlock {
  padding: 30px;
  margin-top: 20px;
  background: #fff;
}

.calcInput {
  color: #e6b265;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.total {
  float: right;
}

.lists {
  padding: 20px;
}

.list:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}
