.container {

}
#title {
  border: 2px solid black;
  font-size: 50px;
}

#search-form {
  margin: 50px;
  border: 2px solid black;
}

.title-bold {
  font-weight: bold;
  font-size: 60px;
}

#description {
  color: grey;
  font-size: 30px;
}

#search-input {
  margin: 20px;
  font-size: 30px;
  width: 95%;
}

.card-container {

}

.card-row {

}

.profile {

}

.profile-img {

}

.view-profile-btn {

}

.data {

}

.small-btn {

}

.blue {
  background-color: #2E64FE;
}

.gray {
  background-color: gray;
}

.green {
  background-color: green;
}

.aqua {
  background-color: aqua
}

.data-list {

}

.data-list li {

}

.repos {

}

.repo-link {

}

.repo-btns {

}

.alert {
  
}