.quizContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.questionText {
  font-size: 18px;
  margin-bottom: 20px;
}

.answerOption {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.answerOption:hover {
  background-color: tomato;
  transition-duration: 0.5s;
}

.btnNext {
  padding: 10px 20px;
  background-color: tomato;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btnNext:hover {
  background-color: brown;
}

.selected {
  background-color: tomato;
}
